@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-55MediumIt.woff2") format("woff2");
  src: url("../fonts/CoreSansC-55MediumIt.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2");
  src: url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-85Heavy.woff2") format("woff2");
  src: url("../fonts/CoreSansC-85Heavy.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Semi-Bold.woff2") format("woff2");
  src: url("../fonts/Causten-Semi-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
