@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
@import url("fonts.css");
@import url("reset.css");

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header__title {
  padding: 50px 0;
  text-align: center;
  color: rgb(4, 52, 52);
  font-size: 32px;
  font-weight: 700;
}
.presents {
  margin-bottom: 100px;
}
.presents__container {
}
.presents__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}
.presents__card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.3s;
}

.presents__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
  border-radius: 12px;
  aspect-ratio: 604 / 355;
  z-index: -1;
}
.presents__card:hover {
  transform: scale(1.05);
}
.presents__content {
  display: flex;
  flex-direction: column;
  max-width: 264px;
  padding: 55px 0px 55px 30px;
  min-height: 100%;
  justify-content: space-between;
}
.presents__sub-title {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.67;
  letter-spacing: 0.251px;
  text-transform: capitalize;
}
.presents__sub-title:not(:last-child) {
  margin-bottom: 24px;
}
.presents__title {
  color: #fff;
  font-family: Core Sans C;
  font-size: 34px;
  font-weight: 800;
  line-height: 1.32;
  text-transform: capitalize;
}
.presents__title:not(:last-child) {
  margin-bottom: 9px;
}
.presents__text {
  color: #fff;
  font-family: Core Sans C;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: 0.251px;
  text-transform: uppercase;
}
.presents__text:not(:last-child) {
  margin-bottom: 41px;
}
.presents__link {
  color: #fff;
  font-family: Core Sans C;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.5;
}
.presents__link:hover {
  text-decoration: underline;
}

/* ==================ARRIVAL=================== */

.arrival {
  margin-bottom: 95px;
}
.arrival__container {
}
.title {
  color: #3c4242;
  font-family: Core Sans C;
  font-size: 34px;
  font-weight: 600;
  line-height: 0.98;
  letter-spacing: 0.68px;
  display: inline-flex;
  column-gap: 20px;
  align-items: center;
}
.title:not(:last-child) {
  margin-bottom: 70px;
}
.title::before {
  content: "";
  left: 0;
  top: 0;
  width: 6px;
  height: 30px;
  flex: 0 0 6px;
  border-radius: 10px;
  background: #8a33fd;
}
.arrival__cards {
  display: grid;
  column-gap: 38px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
}
.card-arrival {
  display: grid;
  gap: 32px;
}
.card-arrival__link-image {
}
.card-arrival__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 262 / 262;
  border-radius: 12px;
  transition: transform 0.3s;
}
.card-arrival__img:hover {
  transform: scale(1.1);
}
.card-arrival__body {
}
.card-arrival__link {
  color: #3c4242;
  font-family: Causten;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.card-arrival__link:hover {
  text-decoration: underline;
}

/* ====================zone==================== */

.zone__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.zone__card {
  width: 100%;
  min-height: 100%;
  grid-column: span 2;
  position: relative;
  display: flex;
  min-height: 100%;
  justify-content: flex-end;
  min-height: 300px;
}
.zone__card--1 {
  justify-content: flex-start;
}
.zone__card:nth-child(4),
.zone__card:nth-child(5) {
  grid-column: span 3;
}

.zone__bg {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top left;
  border-radius: 12px;
  aspect-ratio: 400 / 393;
  z-index: -1;
}
.zone__link-btn {
  padding: 10px 25px;
  color: #fff;
  font-family: "Causten";
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #fff;
  text-align: center;
}

.zone__card--1 {
  padding: 64px 20px 64px 20px;
}
.zone__card--2 {
  padding: 34px 25px 41px 25px;
}
.zone__card--3 {
  padding: 64px 17px 67px 17px;
}
.zone__card--4 {
  padding: 45px 120px 50px 20px;
}
.zone__card--5 {
  padding: 45px 96px 50px 20px;
}
.zone__content {
  display: flex;
  flex-direction: column;
}
.zone__card--1 .zone__content {
  max-width: 150px;
}
.zone__card--2 .zone__content {
  max-width: 153px;
  text-align: right;
}
.zone__card--3 .zone__content {
  max-width: 133px;
}
.zone__card--4 .zone__content {
  max-width: 164px;
}
.zone__card--5 .zone__content {
  max-width: 147px;
}
.zone__card--1 .zone__title {
  color: #fff;
  font-family: "Core Sans C";
  font-size: 28px;
  font-weight: 600;
  line-height: 1.37;
  letter-spacing: 0.56px;
}
.zone__card--1 .zone__title:not(:last-child) {
  margin-bottom: 10px;
}
.zone__card--1 .zone__sub-title {
  color: #fff;
  font-family: "Causten";
  font-size: 14px;
  font-weight: 600;
}
.zone__card--1 .zone__sub-title:not(:last-child) {
  margin-bottom: 10px;
}
.zone__card--1 .zone__text {
  color: #fff;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 700;
}
.zone__card--1 .zone__text:not(:last-child) {
  margin-bottom: 30px;
}
.zone__arrow1 {
  margin-bottom: 40px;
  padding-left: 30.6%;
}
.zone__limited:not(:last-child) {
  margin-bottom: 28px;
}
.zone__limited a {
  color: #fff;
  font-family: "Causten";
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  background: #3c4242;
  padding: 16px 8px;
  text-align: center;
}
.zone__card--2 .zone__title {
  color: #fff;
  font-family: "Core Sans C";
  font-size: 28px;
  font-weight: 600;
  line-height: 1.37;
  letter-spacing: 0.56px;
}
.zone__card--2 .zone__title:not(:last-child) {
  margin-bottom: 15px;
}
.zone__card--2 .zone__sub-title {
  color: #fff;
  font-family: "Causten";
  font-size: 14px;
  font-weight: 600;
}
.zone__card--2 .zone__sub-title:not(:last-child) {
  margin-bottom: 10px;
}
.zone__card--2 .zone__text {
  color: #fff;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 700;
}
.zone__card--2 .zone__text:not(:last-child) {
  margin-bottom: 27px;
}
.zone__arrow2 {
  margin-bottom: 30px;
  padding-right: 30%;
}

.zone__card--3 .zone__title {
  color: #3c4242;
  font-family: "Core Sans C";
  font-size: 28px;
  font-weight: 600;
  line-height: 1.37;
  letter-spacing: 0.56px;
}
.zone__card--3 .zone__title:not(:last-child) {
  margin-bottom: 10px;
}
.zone__card--3 .zone__sub-title {
  font-family: "Causten";
  font-size: 14px;
  font-weight: 600;
  color: #3c4242;
}
.zone__card--3 .zone__sub-title:not(:last-child) {
  margin-bottom: 10px;
}
.zone__card--3 .zone__text {
  color: #3c4242;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 700;
}
.zone__card--3 .zone__text:not(:last-child) {
  margin-bottom: 27px;
}
.zone__arrow3 {
  margin-bottom: 30px;
  padding-left: 21%;
}
.zone__card--3 .zone__link-btn {
  color: #3c4242;
  border: 1px solid #3c4242;
}

.zone__card--4 .zone__title {
  color: #3c4242;
  font-family: "Core Sans C";
  font-size: 32px;
  font-weight: 600;
  line-height: 1.37;
  letter-spacing: 0.56px;
}
.zone__card--4 .zone__title:not(:last-child) {
  margin-bottom: 10px;
}
.zone__card--4 .zone__sub-title {
  font-family: "Causten";
  font-size: 16px;
  font-weight: 600;
  color: #3c4242;
}
.zone__card--4 .zone__sub-title:not(:last-child) {
  margin-bottom: 12px;
}
.zone__card--4 .zone__text {
  color: #3c4242;
  font-family: "Causten";
  font-size: 20px;
  font-weight: 700;
}
.zone__card--4 .zone__text:not(:last-child) {
  margin-bottom: 36px;
}
.zone__arrow4 {
  margin-bottom: 44px;
  padding-left: 28%;
}
.zone__card--4 .zone__link-btn {
  color: #3c4242;
  border: 1px solid #3c4242;
}

.zone__card--5 .zone__title {
  color: #3c4242;
  font-family: "Core Sans C";
  font-size: 32px;
  font-weight: 600;
  line-height: 1.37;
  letter-spacing: 0.56px;
}
.zone__card--5 .zone__title:not(:last-child) {
  margin-bottom: 10px;
}
.zone__card--5 .zone__sub-title {
  font-family: "Causten";
  font-size: 16px;
  font-weight: 600;
  color: #3c4242;
}
.zone__card--5 .zone__sub-title:not(:last-child) {
  margin-bottom: 12px;
}
.zone__card--5 .zone__text {
  color: #3c4242;
  font-family: "Causten";
  font-size: 20px;
  font-weight: 700;
}
.zone__card--5 .zone__text:not(:last-child) {
  margin-bottom: 36px;
}
.zone__arrow5 {
  margin-bottom: 44px;
  padding-left: 37%;
}
.zone__card--5 .zone__link-btn {
  color: #3c4242;
  border: 1px solid #3c4242;
}
.zone__arrow1 img,
.zone__arrow2 img {
  max-width: 100%;
  max-height: 100%;
}
.zone__arrow3-hide,
.zone__arrow4-hide,
.zone__arrow5-hide {
  display: none;
}
.footer__container {
  padding: 30px 0;
  text-align: center;
  color: rgb(4, 52, 52);
  font-size: 28px;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .presents {
    margin-bottom: 50px;
  }
  .arrival {
    margin-bottom: 50px;
  }
  .title:not(:last-child) {
    margin-bottom: 30px;
  }
  .zone__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .zone__card {
    grid-column: span 1;
  }
  .zone__card:nth-child(4),
  .zone__card:nth-child(5) {
    grid-column: span 1;
  }
  .zone__card--1 .zone__content {
    max-width: 50%;
  }
  .zone__card--2 .zone__content {
    max-width: 50%;
    text-align: left;
  }
  .zone__arrow2:not(:last-child) {
    padding-left: 30%;
  }
  .zone__card--3 .zone__content {
    max-width: 50%;
  }
  .zone__card--4 .zone__content {
    max-width: 50%;
  }
  .zone__card--5 .zone__content {
    max-width: 50%;
  }
  .zone__card {
    padding: 20px 40px;
  }
}
@media (max-width: 960px) {
  .zone__card--2 .zone__content,
  .zone__content {
    text-align: right;
  }
  .zone__card--1 .zone__content {
    text-align: left;
  }
  .zone__card--3 .zone__content > *,
  .zone__card--4 .zone__content > *,
  .zone__card--5 .zone__content > * {
    color: #fff;
  }
  .zone__card--3 .zone__link-btn,
  .zone__card--4 .zone__link-btn,
  .zone__card--5 .zone__link-btn {
    color: #fff;
    border: 1px solid #fff;
  }
  .zone__arrow1 {
    padding-right: 37%;
  }
  .zone__arrow2 {
    padding-right: 37%;
  }
  .zone__arrow3 {
    padding-right: 37%;
  }
  .zone__arrow3-visible {
    display: none;
  }
  .zone__arrow3-hide {
    display: block;
  }
  .zone__arrow4 {
    padding-right: 37%;
  }
  .zone__arrow4-visible {
    display: none;
  }
  .zone__arrow4-hide {
    display: block;
  }
  .zone__arrow5 {
    padding-right: 37%;
  }
  .zone__arrow5-visible {
    display: none;
  }
  .zone__arrow5-hide {
    display: block;
  }
}
@media (max-width: 675px) {
  .zone__cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
@media (max-width: 380px) {
  .zone__card {
    display: block;
  }
  .zone__card--1 .zone__content,
  .zone__card--2 .zone__content,
  .zone__card--3 .zone__content,
  .zone__card--4 .zone__content,
  .zone__card--5 .zone__content {
    display: block;
    max-width: 100%;
    text-align: center;
  }
  .zone__card,
  .presents__card {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
  }
}
.zone__link-btn {
  transition: all 0.3s;
}
.zone__link-btn:hover {
  color: rgb(78, 47, 255);
  border: 1px solid rgb(78, 47, 255);
}
