@use 'sass:math';

@import '_fonts.scss';
@import '_reset.scss';
@import '_functions.scss';

body {
  font-family: 'Inter', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

[class*='__container'] {
  max-width: toRem(1230);
  padding-left: toRem(15);
  padding-right: toRem(15);
  margin: 0 auto;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
  &__container {
    &--top {
      padding-top: toRem(10);
      padding-bottom: toRem(10);
      @media (max-width: toEm(950)) {
        display: flex;
        justify-content: space-between;
        column-gap: toRem(10);
      }
      &--bottom {
        padding-top: toRem(10);
        padding-bottom: toRem(10);
      }
    }
  }
  &__top {
    background: #37393f;
  }
  &__body-top {
    min-height: toRem(60);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: toRem(40);
    @media (max-width: toEm(950)) {
      justify-content: flex-start;
      row-gap: toRem(25);
      position: fixed;
      width: 100%;
      height: 100%;
      overflow: auto;
      top: 0;
      left: -100%;
      transition: left 0.3s;
      padding: toRem(75) toRem(15) toRem(25) toRem(15);
      background-color: grey;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @media (max-width: 450px) {
        align-items: center;
      }
      @media (max-width: 350px) {
        align-items: flex-start;
        text-align: left;
      }
      &::before {
        content: '';
        position: fixed;
        width: 100%;
        height: toRem(60);
        top: 0;
        left: -100%;
        z-index: 2;
        transition: left 0.3s;
        background-color: grey;
      }
    }
  }
  &__logo-hidden {
    display: none;
    @media (max-width: 950px) {
      display: block;
    }
  }

  &__left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: toRem(42);
    @media (max-width: 950px) {
      flex-direction: column;
      align-items: flex-end;
      row-gap: toRem(25);
    }
    @media (max-width: 450px) {
      align-items: center;
    }
    @media (max-width: 350px) {
      align-items: flex-start;
      text-align: left;
    }
  }

  &__street {
    color: #fff;
    font-size: toRem(14);
    display: flex;
    align-items: center;
    column-gap: toRem(9);
    @media (max-width: 950px) {
      font-size: toRem(18);
      text-align: right;
      line-height: 1.5;
    }
    @media (max-width: 450px) {
      text-align: center;
    }
    @media (max-width: 350px) {
      text-align: left;
      column-gap: toRem(7);
    }
    &::before {
      content: '';
      width: toRem(17);
      height: toRem(23);
      flex: 0 0 toRem(17);
      top: 0;
      left: 0;
      background: url('../img/i01.svg') no-repeat;
    }
  }

  &__mail {
    color: #fff;
    font-size: toRem(14);
    display: flex;
    align-items: center;
    column-gap: toRem(11);
    transition: all 0.3s;
    @media (any-hover) {
      &:hover {
        color: #6b77e5;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    @media (max-width: 950px) {
      font-size: toRem(18);
      text-align: left;
      line-height: 1.5;
    }
    @media (max-width: 450px) {
      text-align: center;
    }
    @media (max-width: 350px) {
      text-align: left;
      column-gap: toRem(7);
    }
    &::before {
      content: '';
      width: toRem(22);
      height: toRem(17);
      flex: 0 0 toRem(22);
      top: 0;
      left: 0;
      background: url('../img/i02.svg') no-repeat;
    }
  }

  &__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: toRem(50);
    @media (max-width: toEm(950)) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: toRem(25);
    }
    @media (max-width: 450px) {
      align-items: center;
    }
  }

  &__oclock {
    color: #fff;
    font-size: toRem(14);
    display: flex;
    align-items: center;
    column-gap: toRem(4);
    @media (max-width: 950px) {
      font-size: toRem(18);
      text-align: left;
      line-height: 1.5;
    }
    @media (max-width: 450px) {
      text-align: center;
    }
    @media (max-width: 350px) {
      text-align: left;
      column-gap: toRem(7);
    }
    &::before {
      content: '';
      width: toRem(17);
      height: toRem(17);
      flex: 0 0 toRem(17);
      top: 0;
      left: 0;
      background: url('../img/i03.svg') no-repeat;
    }
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: toRem(16);
    row-gap: toRem(15);
    @media (max-width: toEm(950)) {
      column-gap: toRem(24);
    }
    @media (max-width: 450px) {
      text-align: center;
    }
    & img {
      max-width: toRem(18);
      max-height: toRem(18);
      width: 100%;
      height: 100%;
      transition: transform 0.3s;
      @media (any-hover) {
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
      @media (max-width: toEm(950)) {
        max-width: toRem(30);
        max-height: toRem(30);
      }
    }
  }
  &__burgers {
    display: flex;
    align-items: center;
    column-gap: toRem(10);
  }
  &__burger-top {
    display: none;
    @media (max-width: 950px) {
      display: block;
      width: 30px;
      height: 18px;
      position: relative;
      z-index: 5;
      &::before {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        transition: all 0.3s;
        background-color: #fff;
        top: 0;
      }
      &::after {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        transition: all 0.3s;
        background-color: #fff;
        bottom: 0;
      }
      & span {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        transition: all 0.3s;
        background-color: #fff;
        top: 50%;
        margin-top: -1px;
      }
    }
  }

  &__burger-bottom {
    display: none;
    @media (max-width: 950px) {
      display: block;
      width: 30px;
      height: 18px;
      position: relative;
      z-index: 5;
      &::before {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        transition: all 0.3s;
        background-color: #fff;
        top: 0;
      }
      &::after {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        transition: all 0.3s;
        background-color: #fff;
        bottom: 0;
      }
      & span {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        transition: all 0.3s;
        background-color: #fff;
        top: 50%;
        margin-top: -1px;
      }
    }
  }

  &__bottom {
    background: #fff;
  }
  &__body-bottom {
    min-height: toRem(131);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: toRem(40);
    @media (max-width: toEm(950)) {
      justify-content: flex-start;
      row-gap: toRem(25);
      position: fixed;
      width: 100%;
      height: 100%;
      overflow: auto;
      top: 0;
      left: -100%;
      transition: left 0.3s;
      padding: toRem(75) toRem(15) toRem(25) toRem(15);
      background-color: grey;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @media (max-width: 450px) {
        align-items: center;
      }

      &::before {
        content: '';
        position: fixed;
        width: 100%;
        height: toRem(60);
        top: 0;
        left: -100%;
        z-index: 2;
        transition: left 0.3s;
        background-color: grey;
      }
    }
  }

  &__logo {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    column-gap: 4px;
    & img {
      max-width: toRem(43);
      max-height: toRem(30);
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    color: #37393f;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 700;
    & span {
      color: #6b77e5;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: toRem(40);
    row-gap: toRem(15);
    @media (max-width: toEm(950)) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    @media (max-width: toEm(450)) {
      align-items: center;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: toRem(40);
    row-gap: toRem(15);
    @media (max-width: toEm(950)) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: toRem(25);
    }
    @media (max-width: toEm(450)) {
      align-items: center;
    }
  }

  &__itemlist {
  }

  &__link {
    color: #37393f;
    font-size: toRem(18);
    transition: all 0.3s;
    @media (max-width: toEm(950)) {
      font-size: toRem(24);
      color: #fff;
    }
    @media (any-hover) {
      &:hover {
        color: #313fc0;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  &__button {
    background: #6b77e5;
    flex-shrink: 0;
    text-align: center;
    padding: 22px 35px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.3s;
    @media (any-hover) {
      &:hover {
        background: #313fc0;
        cursor: pointer;
      }
    }
  }
}

.top-open .header__burger-top span {
  transform: scale(0);
}
.top-open .header__burger-top::before {
  transform: rotate(-45deg);
  top: 50%;
  margin-top: -1px;
}

.top-open .header__burger-top::after {
  transform: rotate(45deg);
  bottom: 50%;
  margin-bottom: -1px;
}
.top-open .header__body-top {
  left: 0;
}
.top-open .header__body-top::before {
  left: 0;
}
.top-open body {
  overflow: hidden;
}
.bottom-open .header__burger-bottom span {
  transform: scale(0);
}
.bottom-open .header__burger-bottom::before {
  transform: rotate(-45deg);
  top: 50%;
  margin-top: -1px;
}

.bottom-open .header__burger-bottom::after {
  transform: rotate(45deg);
  bottom: 50%;
  margin-bottom: -1px;
}
.bottom-open .header__body-bottom {
  left: 0;
}
.bottom-open .header__body-bottom::before {
  left: 0;
}
.bottom-open body {
  overflow: hidden;
}

//==============COMON====================
.title {
  color: #37393f;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
}
.label {
  color: #37393f;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  column-gap: toRem(6);
  align-items: center;
  &::before {
    content: '';
    top: 0;
    left: 0;
    width: toRem(12);
    height: toRem(12);
    flex: 0 0 toRem(12);
    background: #40ddb6;
  }
}
.title2 {
  color: #37393f;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.21;
}

//=============HERO=======================
.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;

  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    aspect-ratio: 1920 / 815;
    object-fit: cover;
    object-position: right;
  }
  &__body {
    background: #37393f;
    opacity: 0.9;
    fill: rgba(55, 57, 63, 0.91);
    backdrop-filter: blur(9.5px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 toRem(828);
    @media (max-width: toEm(1365)) {
      flex: 0 0 100%;
    }
  }
  &__content {
    margin-top: toRem(211);
    position: relative;
    padding: toRem(20);
    z-index: 3;
    max-width: toRem(550);
    display: flex;
    flex-direction: column;
    @media (max-width: toEm(1365)) {
      align-items: center;
    }
    @media (max-width: toEm(950)) {
      margin-top: toRem(50);
    }
    @media (max-width: toEm(700)) {
      margin-top: toRem(50);
    }
  }

  &__label {
    font-weight: 600;
    color: #fff;
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
    @media (max-width: toEm(400)) {
      font-size: 16px;
    }
  }

  &__main-title {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
    & span {
      color: #40ddb6;
    }
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
    @media (max-width: toEm(1365)) {
      text-align: center;
    }
    @media (max-width: toEm(950)) {
      font-size: 48px;
    }
    @media (max-width: toEm(700)) {
      font-size: 36px;
    }
    @media (max-width: toEm(400)) {
      font-size: 28px;
    }
  }

  &__text {
    color: #b9b9b9;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.46;
    &:not(:last-child) {
      margin-bottom: toRem(35);
    }
    @media (max-width: toEm(1365)) {
      text-align: center;
    }
    @media (max-width: toEm(700)) {
      font-size: 16px;
    }
  }
  &__buttons {
    display: flex;
    column-gap: toRem(30);
    align-items: center;
    @media (max-width: toEm(500)) {
      flex-direction: column;
      row-gap: toRem(20);
    }
  }
  &__button {
    padding: toRem(22) toRem(27);
    background: #40ddb6;
    color: #37393f;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    align-self: stretch;
    transition: all 0.3s;
    @media (any-hover) {
      &:hover {
        background: #219d7e;
        color: #fff;
      }
    }
  }

  &__link {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    text-decoration: underline;
    column-gap: toRem(10);
    padding: 0 toRem(10);
    transition: color 0.3s;
    &::before {
      content: '';
      top: 0;
      left: 0;
      border-radius: 50%;
      width: toRem(60);
      height: toRem(60);
      flex: 0 0 toRem(60);
      background: url(../img/hero/play.svg) no-repeat;
    }
    @media (any-hover) {
      &:hover {
        color: #40ddb6;
      }
    }
  }
}

//================CARE======================

.care {
  padding-top: toRem(151);
  padding-bottom: toRem(150);
  position: relative;
  @media (max-width: toEm(950)) {
    padding-top: toRem(100);
    padding-bottom: toRem(30);
  }
  @media (max-width: toEm(600)) {
    padding-top: toRem(50);
    padding-bottom: toRem(20);
  }
  &::after {
    position: absolute;
    content: '';
    right: 57%;
    top: 0;
    height: 100%;
    width: 200%;
    background: #f4f4f4;
    z-index: -1;
    @media (max-width: toEm(700)) {
      display: none;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(121);
    min-height: 100%;
    @media (max-width: toEm(1200)) {
      column-gap: toRem(85);
    }
    @media (max-width: toEm(1150)) {
      column-gap: toRem(65);
    }
    @media (max-width: toEm(900)) {
      column-gap: toRem(45);
    }
    @media (max-width: toEm(750)) {
      column-gap: toRem(30);
    }
    @media (max-width: toEm(700)) {
      flex-direction: column-reverse;
      row-gap: toRem(30);
    }
  }
}
.side-left {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  row-gap: toRem(22);
  max-width: toRem(424);
  min-width: toRem(350);
  @media (max-width: toRem(700)) {
    max-width: 100%;
    min-width: toRem(0);
  }
  & img {
    width: 100%;
    height: 100%;
    aspect-ratio: 424/452;
    object-fit: cover;
    transition: transform 0.3s;
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: toRem(15);
  }
  &__title {
    @media (max-width: toEm(1150)) {
      font-size: toRem(24);
    }
    @media (max-width: toEm(700)) {
      text-align: center;
    }
  }

  &__text {
    color: #7d7d7d;
    font-size: 18px;
    line-height: 1.46;
    @media (max-width: toEm(1150)) {
      font-size: toRem(16);
    }
  }

  &__link {
    color: #37393f;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.3s;
    @media (max-width: toRem(700)) {
      text-align: center;
    }
    @media (any-hover) {
      &:hover {
        color: #313fc0;
        text-decoration: underline;
      }
    }
  }
}
.side-right {
  &__label {
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
    @media (max-width: toEm(700)) {
      justify-content: center;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
    @media (max-width: toEm(1150)) {
      font-size: toRem(30);
    }
    @media (max-width: toEm(700)) {
      text-align: center;
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
    & p {
      color: #7d7d7d;
      font-size: 18px;
      line-height: 1.46;
      &:not(:last-child) {
        margin-bottom: toRem(15);
      }
      @media (max-width: toEm(1150)) {
        font-size: toRem(16);
      }
    }
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: toRem(43);
    }
    @media (max-width: toEm(1150)) {
      &:not(:last-child) {
        margin-bottom: toRem(20);
      }
    }
  }

  &__itemlist {
    color: #37393f;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flex;
    column-gap: toRem(8);
    align-items: center;
    @media (max-width: toEm(1150)) {
      font-size: toRem(18);
    }
    &::before {
      content: '';
      top: 0;
      left: 0;
      width: toRem(27);
      height: toRem(27);
      flex: 0 0 toRem(27);
      background: url('../img/vector.svg') no-repeat;
    }
    &:not(:last-child) {
      margin-bottom: toRem(23);
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(21);
    row-gap: toRem(20);
    &:not(:last-child) {
      margin-bottom: toRem(37);
    }
    @media (max-width: toRem(1150)) {
      flex-direction: column;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: toRem(20);
      }
    }
  }

  &__card {
    border: 1px solid #e3e3e3;
    max-width: toRem(300);
    display: flex;
    column-gap: toRem(19);
    @media (max-width: toRem(1150)) {
      max-width: toRem(450);
      width: 100%;
    }
  }

  &__card--left {
    padding: toRem(32);
  }

  &__card--right {
    padding: toRem(32) toRem(37);
  }
  &__content-card {
  }
  &__img {
    flex: 0 0 toRem(39);
    width: toRem(39);
    height: toRem(39);
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
    }
  }

  &__name {
    color: #37393f;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    &:not(:last-child) {
      margin-bottom: toRem(5);
    }
    @media (max-width: toEm(1150)) {
      font-size: toRem(18);
    }
  }

  &__text-card {
    color: #7d7d7d;
    font-size: 16px;
    line-height: 1.35;
  }
  &__link {
    background: #6b77e5;
    padding: toRem(22) toRem(27);
    max-width: toRem(200);
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.3s;
    @media (any-hover) {
      &:hover {
        background: #313fc0;
        cursor: pointer;
      }
    }
    @media (max-width: toRem(1150)) {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}

//============BRANDS==============

.brands {
  &__container {
    padding: toRem(100) toRem(40) toRem(82) toRem(40);
    @media (max-width: toEm(950)) {
      padding-top: toRem(50);
      padding-bottom: toRem(50);
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: toRem(115);
    row-gap: toRem(30);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: toRem(170);
    max-height: toRem(100);
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//===========SOLUTIONS============

.solutions {
  &__container {
    padding-bottom: toRem(131);
    @media (max-width: toEm(950)) {
      padding-bottom: toRem(50);
    }
  }

  &__label {
    justify-content: center;
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
  }

  &__title {
    text-align: center;
    max-width: toRem(495);
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: toRem(40);
    }
    @media (max-width: toEm(950)) {
      font-size: toRem(30);
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(320), 1fr));
    column-gap: toRem(32);
    row-gap: toRem(27);
    @media (max-width: toEm(1050)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: toEm(700)) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  &__card {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(25);
    padding: toRem(30);
    background: #f4f4f4;
    @media (max-width: toEm(700)) {
      max-width: toRem(500);
      width: 100%;
    }
    @media (max-width: toEm(400)) {
      column-gap: toRem(15);
    }
    &--colored {
      background: #6b77e5;
      display: flex;
      align-items: center;
      justify-content: center;
      & a {
        color: #fff;
        font-size: 25px;
        font-weight: 600;
        text-transform: capitalize;
        transition: all 0.3s;
        &:hover {
          color: yellowgreen;
        }
        @media (max-width: toEm(950)) {
          font-size: toRem(20);
        }
      }
    }
  }

  &__content {
  }

  &__name {
    color: #37393f;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.27;
    &:not(:last-child) {
      margin-bottom: toRem(27);
    }
    @media (max-width: toEm(950)) {
      font-size: toRem(20);
    }
  }

  &__link {
    color: #6b77e5;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.3s;
    @media (any-hover) {
      &:hover {
        color: #313fc0;
        text-decoration: underline;
      }
    }
    @media (max-width: toEm(950)) {
      font-size: toRem(16);
    }
  }

  &__image {
    flex: 0 0 toRem(72);
    max-width: toRem(72);
    max-height: toRem(72);
    & img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
    }
  }
}

//===========CHOOSE================

.choose {
  color: #ffff;
  background: #37393f;
  overflow: hidden;
  @media (min-width: toEm(767)) {
    display: flex;
  }
  &__content {
    flex: 0 0 100%;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding: toRem(138) toRem(15);
    @media (min-width: toEm(767)) {
      width: 55%;
    }
    @media (max-width: toEm(1220)) {
      padding: toRem(60) toRem(15) toRem(60) toRem(0);
    }
    @media (max-width: toEm(767)) {
      padding: toRem(30) toRem(15) toRem(30) toRem(0);
    }
  }

  &__label {
    color: #fff;
    &:not(:last-child) {
      margin-bottom: toRem(13);
    }
    @media (max-width: toRem(1220)) {
      justify-content: center;
    }
  }

  &__title {
    color: #fff;
    &:not(:last-child) {
      margin-bottom: toRem(13);
    }
    @media (max-width: toEm(1220)) {
      text-align: center;
    }
    @media (max-width: toEm(767)) {
      font-size: toRem(24);
    }
  }

  &__text {
    font-size: toRem(18);
    line-height: 1.46;
    &:not(:last-child) {
      margin-bottom: toRem(36);
    }
    @media (max-width: toEm(1220)) {
      text-align: center;
    }
  }

  &__diograms {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(15);
    @media (max-width: toEm(1220)) {
      flex-direction: column;
      align-items: center;
    }
    &:not(:last-child) {
      margin-bottom: toRem(36);
    }
  }

  &__info {
    display: flex;
    gap: toRem(23);
    flex-wrap: wrap;
    @media (max-width: toEm(1220)) {
      justify-content: center;
    }
    @media (max-width: toEm(600)) {
      justify-content: left;
    }
  }

  &__top-info {
    display: flex;
    flex-direction: column;
    gap: toRem(23);
  }

  &__bottom-info {
    display: flex;
    flex-direction: column;
    gap: toRem(23);
  }

  &__number {
    display: flex;
    flex-wrap: wrap;
    column-gap: toRem(8);
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: toRem(20);
    line-height: 1.5;
    font-weight: 700;
    @media (max-width: toRem(600)) {
      font-size: toRem(18);
    }
    & span {
      font-weight: 400;
    }
    &::before {
      content: '';
      top: 0;
      left: 0;
      width: toRem(27);
      height: toRem(27);
      flex: 0 0 toRem(27);
      background: url('../img/choose/vector.svg') no-repeat;
    }
  }

  &__star {
    color: #ffb342;
    font-weight: 400;
  }

  &__link {
    color: #40ddb6;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;

    @media (any-hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__image {
    & img {
      max-width: 100%;
    }
    @media (min-width: toEm(767)) {
      position: relative;
      flex: 0 0 calc(((100vw - 30px) * 0.45) + 15px);
      padding: 0 0 38.5% 0;
      transform: translate(-100%, toRem(0));
      & img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
    @media (min-width: toEm(1920)) {
      flex: 0 0 calc(50vw - (0.55 - 0.5) * (1920px - 30px));
    }
  }
}

.diogram {
  padding: toRem(27) toRem(30);
  display: flex;
  align-items: center;
  column-gap: toRem(12);
  background: #2e2f34;
  max-width: toRem(300);
  width: 100%;
  @media (max-width: toEm(767)) {
    padding: toRem(14) toRem(15);
  }
  &__image {
    position: relative;
    flex: 0 0 toRem(80);
    width: toRem(80);
    height: toRem(80);
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &__name {
    line-height: 1.35;
  }

  &__text {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
}

//=======PROJECTS===============

.projects {
  padding: toRem(132) toRem(15);
  @media (max-width: toEm(950)) {
    padding: toRem(50) toRem(15);
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: toRem(50);
    &:not(:last-child) {
      margin-bottom: toRem(40);
    }
    @media (max-width: toEm(700)) {
      column-gap: toRem(25);
    }
    @media (max-width: toEm(650)) {
      flex-direction: column;
      row-gap: toRem(30);
    }
  }

  &__titles {
    max-width: toRem(555);
  }

  &__label {
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
    @media (max-width: toEm(650)) {
      justify-content: center;
    }
  }

  &__title {
    @media (max-width: toEm(950)) {
      font-size: toRem(28);
    }
    @media (max-width: toEm(650)) {
      text-align: center;
    }
  }

  &__link {
    background: #40ddb6;
    padding: toRem(22) toRem(45);
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    flex: 0 0 auto;
    transition: background 0.3s;
    @media (any-hover) {
      &:hover {
        background: #1baf8a;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: toRem(40);
    @media (max-width: toEm(950)) {
      column-gap: toRem(20);
    }
    @media (max-width: toEm(700)) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: toRem(20);
    }
    @media (max-width: toEm(400)) {
      gap: toRem(10);
    }
  }

  &__card {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & a {
      overflow: hidden;
    }
    & img {
      width: 100%;
      height: 100%;
      aspect-ratio: 430 / 492;
      object-fit: cover;
      object-position: center;
      transition: transform 0.3s;
      @media (any-hover) {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

//============CLIENT===========

.client {
  padding-bottom: toRem(100);
  @media (max-width: toEm(950)) {
    padding-bottom: toRem(60);
  }
  @media (max-width: toEm(600)) {
    padding-bottom: toRem(30);
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: toRem(37);
    @media (max-width: toEm(950)) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: toRem(30);
    }
    @media (max-width: toEm(700)) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: toRem(20);
      column-gap: toRem(15);
    }
    @media (max-width: toEm(600)) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    &--title {
      @media (max-width: toEm(950)) {
        grid-column: span 2;
        align-items: center;
        text-align: center;
      }
      @media (max-width: toEm(600)) {
        grid-column: span 1;
      }
    }
    &--person {
      align-self: flex-start;
      background: #f6f6f6;
      padding: toRem(50) toRem(37);
    }
  }

  &__label {
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
  }

  &__title {
    max-width: toRem(245);
    &:not(:last-child) {
      margin-bottom: toRem(23);
    }
    @media (max-width: toEm(950)) {
      max-width: 100%;
    }
    @media (max-width: toEm(600)) {
      font-size: 28px;
    }
  }

  &__text {
    color: #7d7d7d;
    font-size: 18px;
    font-style: normal;
    line-height: 1.46;
  }

  &__top {
    display: flex;
    align-items: center;
    column-gap: toRem(16);
    &:not(:last-child) {
      margin-bottom: toRem(34);
    }
  }

  &__image {
    flex: 0 0 toRem(100);
    max-width: toRem(100);
    max-height: toRem(100);
    & img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: top;
    }
  }

  &__info {
    max-width: toRem(170);
  }

  &__name {
    color: #37393f;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    &:not(:last-child) {
      margin-bottom: toRem(5);
    }
  }

  &__job {
    color: #7d7d7d;
    line-height: 1.35;
    &:not(:last-child) {
      margin-bottom: toRem(5);
    }
  }

  &__stars {
    max-width: toRem(125);
    max-height: toRem(25);
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//===========APPOINTMENT========

.appointment {
  background: #6b77e5;
  &__container {
    padding-top: toRem(123);
    padding-bottom: toRem(123);
    @media (max-width: toEm(950)) {
      padding-top: toRem(65);
      padding-bottom: toRem(65);
    }
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: toRem(53);
    @media (max-width: toEm(950)) {
      column-gap: toRem(15);
    }
    @media (max-width: toEm(800)) {
      grid-template-columns: 1fr;
      row-gap: toRem(50);
    }
  }
}
.left-column {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  &__label {
    color: #ffffff;
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
    @media (max-width: toEm(800)) {
      justify-content: center;
    }
  }

  &__title {
    color: #ffffff;
    max-width: toRem(430);
    &:not(:last-child) {
      margin-bottom: toRem(21);
    }
    @media (max-width: toEm(950)) {
      font-size: toRem(28);
    }
    @media (max-width: toEm(800)) {
      text-align: center;
      max-width: 100%;
    }
  }

  &__text {
    color: #fff;
    font-size: 18px;
    line-height: 1.46;
    &:not(:last-child) {
      margin-bottom: toRem(34);
    }
    @media (max-width: toEm(950)) {
      font-size: toRem(16);
    }
    @media (max-width: toEm(800)) {
      text-align: center;
    }
  }

  &__numbers {
    background: #40ddb6;
    padding: toRem(35);
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    column-gap: toRem(23);
    align-items: center;
    &:not(:last-child) {
      margin-bottom: toRem(50);
    }
    @media (max-width: toEm(450)) {
      flex-direction: column;
      row-gap: toRem(30);
      padding: toRem(20);
    }
  }

  &__number {
    flex: 0 0 toRem(128);
    width: toRem(128);
    height: toRem(128);
    border-radius: 50%;
    border: 4px solid #6b77e5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__top-number {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.21;
    @media (max-width: toEm(950)) {
      font-size: toRem(28);
    }
  }

  &__bottom-number {
    font-size: 18px;
    font-weight: 600;
    @media (max-width: toEm(950)) {
      font-size: toRem(16);
    }
  }
  &__color-text {
    font-size: 25px;
    line-height: 1.27;
    font-weight: 400;
    & span {
      font-weight: 700;
    }
    @media (max-width: toEm(950)) {
      font-size: toRem(18);
    }
    @media (max-width: toEm(450)) {
      text-align: center;
    }
  }
}

.list-column {
  padding-left: toRem(43);
  &__li {
    position: relative;
    &:not(:last-child) {
      margin-bottom: toRem(18);
      padding-bottom: toRem(21);
      border-bottom: toRem(1) solid #ffff;
    }
    &::before {
      content: '';
      position: absolute;
      width: toRem(27);
      height: toRem(27);
      top: 0;
      left: toRem(-43);
      background: url(../img/appointment.svg);
    }
  }

  &__title {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    @media (max-width: toEm(950)) {
      font-size: toRem(18);
    }
  }

  &__text {
    color: #fff;
    font-size: 18px;
    line-height: 1.46;
    @media (max-width: toEm(950)) {
      font-size: toRem(16);
    }
  }
}
.right-column {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  &__label {
    color: #fff;
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
    @media (max-width: toEm(800)) {
      justify-content: center;
    }
  }

  &__title {
    color: #ffffff;
    max-width: toRem(380);
    &:not(:last-child) {
      margin-bottom: toRem(24);
    }
    @media (max-width: toEm(950)) {
      font-size: toRem(28);
    }
    @media (max-width: toEm(800)) {
      text-align: center;
      max-width: 100%;
    }
  }
}
.form-appointment {
  padding: toRem(58);
  background: #fff;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: toRem(30);
  @media (max-width: toEm(950)) {
    row-gap: toRem(15);
    padding: toRem(25);
  }
  @media (max-width: toEm(450)) {
    padding: toRem(15);
  }

  &__input {
    width: 100%;
    border: 1px solid #ddd;
    background: #f8f8f8;
    padding: toRem(22) toRem(33);
    &::placeholder {
      color: #37393f;
      font-size: 18px;
      opacity: 1;
      transition: opacity 0.4s;
      @media (max-width: toEm(950)) {
        font-size: toRem(16);
      }
    }
    &:focus::placeholder {
      opacity: 0;
    }
    @media (max-width: toEm(450)) {
      padding: toRem(15) toRem(20);
    }
  }
  &__datetime {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(23);
    @media (max-width: toEm(950)) {
      flex-direction: column;
      row-gap: toRem(15);
    }
  }

  &__textarea {
    flex-grow: 1;
    border: 1px solid #ddd;
    background: #f8f8f8;
    padding: toRem(22) toRem(33);
    height: toRem(140);
    resize: vertical;
    &::placeholder {
      color: #37393f;
      font-size: 18px;
      opacity: 1;
      transition: opacity 0.4s;
      @media (max-width: toEm(950)) {
        font-size: toRem(16);
      }
    }
    &:focus::placeholder {
      opacity: 0;
    }
    @media (max-width: toEm(450)) {
      padding: toRem(15) toRem(20);
    }
  }

  &__button {
    background: #40ddb6;
    padding: toRem(22) toRem(61);
    align-self: flex-start;
    color: #37393f;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
  }
}

//=================TEAM=================

.team {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    aspect-ratio: 1920 / 720;
    object-fit: cover;
    object-position: center;
  }

  &__body {
    position: relative;
    z-index: 2;
    background: rgba(55, 57, 63, 0.8);
    backdrop-filter: blur(9px);
    padding: toRem(87) toRem(130);
    @media (max-width: toEm(950)) {
      padding: toRem(40) toRem(65);
    }
    @media (max-width: toEm(450)) {
      padding: toRem(20) toRem(30);
    }
  }

  &__title {
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: toRem(40);
    font-weight: 700;
    line-height: 1.21;
    @media (max-width: toEm(950)) {
      font-size: toRem(30);
    }
    @media (max-width: toEm(450)) {
      font-size: toRem(20);
    }
  }
}

//=============POSTS====================

.posts {
  &__container {
    padding-top: toRem(150);
    padding-bottom: toRem(100);
    @media (max-width: toEm(950)) {
      padding-top: toRem(100);
      padding-bottom: toRem(75);
    }
    @media (max-width: toEm(600)) {
      padding-top: toRem(50);
      padding-bottom: toRem(50);
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: toRem(50);
    &:not(:last-child) {
      margin-bottom: toRem(40);
    }
    @media (max-width: toEm(700)) {
      column-gap: toRem(25);
    }
    @media (max-width: toEm(650)) {
      flex-direction: column;
      row-gap: toRem(30);
    }
  }

  &__titles {
    max-width: toRem(555);
  }

  &__label {
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
    @media (max-width: toEm(650)) {
      justify-content: center;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(19);
    }
    @media (max-width: toEm(950)) {
      font-size: toRem(28);
    }
    @media (max-width: toEm(650)) {
      text-align: center;
    }
  }

  &__link-top {
    background: #37393f;
    padding: toRem(22) toRem(43);
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    flex: 0 0 auto;
    transition: background 0.3s;
    @media (any-hover) {
      &:hover {
        background: #4d5263;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: toRem(36);
    @media (max-width: toEm(600)) {
      grid-template-columns: 1fr;
      row-gap: toRem(50);
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  &__image {
    max-height: 360px;
    max-width: 592px;
    & img {
      width: 100%;
      height: 100%;
      aspect-ratio: 592 / 360;
      object-fit: cover;
      object-position: center;
    }
  }

  &__descriptions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &:not(:last-child) {
      margin-bottom: toRem(19);
    }
  }
  &__description {
    padding: toRem(22) toRem(10);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: toRem(18);
    @media (max-width: toEm(950)) {
      font-size: toRem(16);
    }

    &--color {
      background: #6b77e5;
      color: #fff;
      font-weight: 600;
      text-transform: capitalize;
      text-align: center;
      @media (any-hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &--person {
      background: #2d9e82;
      border-right: 2px solid #207f68;
      color: #207f68;
      text-align: center;
      text-transform: capitalize;
      display: flex;
      column-gap: toRem(5);
      @media (any-hover) {
        &:hover {
          text-decoration: underline;
        }
      }

      &::before {
        content: '';
        flex: 0 0 toRem(14);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        width: toRem(14);
        height: toRem(14);
        background: url(../img/posts/icon1.svg) no-repeat;
        @media (max-width: toEm(950)) {
          display: none;
        }
        @media (max-width: toEm(600)) {
          display: block;
        }
        @media (max-width: toEm(400)) {
          display: none;
        }
      }
    }
    &--business {
      background: #2d9e82;
      color: #207f68;
      text-transform: capitalize;
      display: flex;
      column-gap: toRem(5);
      @media (any-hover) {
        &:hover {
          text-decoration: underline;
        }
      }
      &::before {
        content: '';
        flex: 0 0 toRem(13);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        width: toRem(13);
        height: toRem(14);
        background: url(../img/posts/icon2.svg) no-repeat;
        @media (max-width: toEm(950)) {
          display: none;
        }
        @media (max-width: toEm(600)) {
          display: block;
        }
        @media (max-width: toEm(400)) {
          display: none;
        }
      }
    }
  }
  &__link-descr {
  }

  &__text {
    flex-grow: 1;
    color: #7d7d7d;
    font-size: 18px;
    line-height: 1.46;
    &:not(:last-child) {
      margin-bottom: toRem(26);
    }
  }

  &__link {
    color: #6b77e5;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.3s;
    @media (any-hover) {
      &:hover {
        color: #313fc0;
        text-decoration: underline;
      }
    }
  }
}

//============EXPER=================

.exper {
  margin-bottom: toRem(100);
  @media (max-width: toEm(950)) {
    margin-bottom: toRem(70);
  }
  @media (max-width: toEm(650)) {
    margin-bottom: toRem(50);
  }

  &__container {
    position: relative;
    min-height: toRem(525);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../img/exp.jpg') 0 0 / cover no-repeat;
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(64, 221, 182, 0.75);
      backdrop-filter: blur(7px);
    }
  }

  &__body {
    position: relative;
    max-width: toRem(730);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: toRem(10);
    padding-bottom: toRem(10);
  }

  &__label {
    &:not(:last-child) {
      margin-bottom: toRem(26);
    }
    &:before {
      background: #6b77e5;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
    & span {
      color: #fff;
    }
    @media (max-width: toEm(950)) {
      font-size: toRem(28);
    }
  }

  &__text {
    color: #37393f;
    text-align: center;
    font-size: 18px;
    line-height: 1.46;
    &:not(:last-child) {
      margin-bottom: toRem(26);
    }
  }

  &__link {
    background: #6b77e5;
    padding: toRem(22) toRem(42);
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.3s;
    @media (any-hover) {
      &:hover {
        background: #313fc0;
      }
    }
  }
}

//============FOOTER=================
.footer {
  background: #37393f;
  color: #ffffff;

  &__container {
    padding-top: toRem(110);
    padding-bottom: toRem(95);
    @media (max-width: toEm(600)) {
      padding-top: toRem(50);
      padding-bottom: toRem(40);
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(60);
    text-align: center;
    border-bottom: 1px solid #6c6d72;
    padding-bottom: toRem(54);
    @media (max-width: toRem(1150)) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: toRem(30);
    }
  }

  &__logo {
    flex: 0 0 auto;
  }

  &__body {
    padding: toRem(50) 0;
    border-bottom: 1px solid #6c6d72;
  }

  &__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    white-space: nowrap;
    column-gap: toRem(30);
    row-gap: toRem(25);
    @media (max-width: toRem(375)) {
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }

  &__column {
  }

  &__label {
    color: #40ddb6;
    font-size: toRem(20);
    &:not(:last-child) {
      margin-bottom: toRem(13);
    }
    &::before {
      background: #6b77e5;
    }
    @media (max-width: toRem(375)) {
      justify-content: center;
    }
  }

  &__list {
  }

  &__itemlist {
  }

  &__link-col {
    font-size: 18px;
    line-height: 2.2;
    @media (any-hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__column--form {
    flex: 0 0 toRem(479);
    background: #474950;
    padding: toRem(42) toRem(36);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    @media (max-width: toRem(550)) {
      flex: 0 0 100%;
      padding: toRem(20) toRem(15);
    }
  }

  &__name-form {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    &:not(:last-child) {
      margin-bottom: toRem(6);
    }
  }

  &__text-form {
    flex-grow: 1;
    font-size: 18px;
    line-height: 2.2;
    &:not(:last-child) {
      margin-bottom: toRem(23);
    }
  }

  &__form {
    min-height: toRem(65);
    max-width: 100%;
    display: flex;
    font-size: toRem(20);
    @media (max-width: toRem(550)) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    & input {
      padding: toRem(22) toRem(27);
      flex: 1 1 auto;
      width: 100%;
      &::placeholder {
        color: #37393f;
        font-size: toRem(18);
        opacity: 1;
        transition: opacity 0.4s;
        @media (max-width: toRem(550)) {
          text-align: center;
        }
      }
      &:focus::placeholder {
        opacity: 0;
      }
    }
  }

  &__btn-form {
    flex: 0 0 toRem(145);
    width: toRem(145);
    padding: toRem(22) toRem(10);
    background: #6b77e5;
    text-align: center;
    cursor: pointer;
    font-size: toRem(18);
    transition: all 0.3s;
    @media (any-hover) {
      &:hover {
        background: #313fc0;
      }
    }
    @media (max-width: toRem(550)) {
      flex: 0 0 auto;
      width: 100%;
    }
  }

  &__bottom {
    padding-top: toRem(22);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: toRem(30);
    @media (max-width: toRem(650)) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      row-gap: toRem(20);
      text-align: center;
    }
  }

  &__copy {
    font-size: toRem(18);
    line-height: 1.44;
    @media (max-width: toEm(600)) {
      font-size: toRem(14);
    }
  }

  &__green {
    color: #40ddb6;
  }

  &__blue {
    color: #6b77e5;
  }

  &__socials {
    display: flex;
    align-items: center;
    column-gap: toRem(12);
  }

  &__follow {
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: toRem(16);
  }

  &__icon {
    max-width: toRem(18);
    max-height: toRem(18);
    & img {
      min-width: 100%;
      min-height: 100%;
      aspect-ratio: 1 / 1;
      transition: transform 0.3s;
      @media (any-hover) {
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: toRem(60);
  row-gap: toRem(20);

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: toRem(10);
  }

  &__content {
    text-align: left;
  }
  &__image {
    flex: 0 0 toRem(68);
    border-radius: 50%;
    width: toRem(68);
    height: toRem(68);
    background: #4c4d52;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__name {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    &:not(:last-child) {
      margin-bottom: toRem(3);
    }
  }

  &__info {
    color: #fff;
    font-size: 18px;
    transition: all 0.3s;
    @media (any-hover) {
      &:hover {
        color: #40ddb6;
        text-decoration: underline;
      }
    }
  }
}
